
<br><br><br>
<h1> 🛫 Edit the flights 🛬 </h1>

<br><br>
<form action="/flight/edit/{{flightt._id}}" method="POST">
	<label for="">AirportSource: </label>
	<input type="text" name="airportSource" value="{{flightt.airportSource}}">
<br><br>
	<label for="">airportDestination: </label>
	<input type="text" name="airportDestination" value="{{flightt.airportDestination}}">
<br><br>
	<label for="">departureDate:</label>
	<input type="date" name="departureDate" value="{{flightt.departureDate}}">
<br><br>
    {{!-- <label for="">ArrivingDate:</label>
	<input type="date" name="ArrivingDate" value="{{flightt.ArrivingDate}}"> --}}

	<label for="">classs:</label>
	<input type="text" name="classs" value="{{flightt.classs}}">

	<br><br>
   
    
  <label for="">AirlineName:</label>
	<input type="text" name="airlineName" value="{{flightt.airlineName}}">
	<br><br>

	<button type="sumbmit">Update</button>
	<br><br>
</form>