{{#each flights}}

<h1>the info for {{airlineName}} 🦄</h1>

<h3>AirportSource : {{airportSource}} </h3>
<h3>AirportDestination: {{airportDestination}}</h3>

<h3>Seat Number: {{tickets.seat}}</h3>

<p>Price: {{tickets.price}}</p>



<h3>departureDate: {{departureDate}}</h3>
<h3>ArrivingDate:{{ArrivingDate}} </h3>
<h3>classs: {{classs}}</h3>

{{/each}}